.transactions-form {
  margin-bottom: 50px;
  font-weight: 700;
  display: flex;
  max-width: 600px;
  width: 100%;

  span {
    color: white;
    font-size: 20px;
    min-width: fit-content;
  }

  .address-input {
    margin: 0 4px 0 8px;
    padding-left: 4px;
    max-width: 360px;
    width: 100%;
  }

  .submit-btn {
    font-weight: 700;
  }
}
