@import '~antd/dist/antd.css';

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;700&display=swap');

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  color: rgb(0, 43, 84);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
}
